.profile-card-4 {
  background-color: #fff;
  overflow: hidden;
  position: relative;
}

.profile-card-4 .profile-content {
  position: relative;
  padding: 0px 10px;
  background-color: #fff;
}

.profile-card-4 .profile-description {
  color: #999;
  font-size: 0.9rem;
  padding-top: 15px;
}

.profile-card-4 .profile-name {
  font-size: 1rem;
  padding-top: 20px;
}

.profile-card-4 .profile-overview {
  margin-top: 15px;
}

.profile-card-4 .col-sm-6 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.profile-card-4 .profile-overview .btn {
  font-size: 0.8rem;
  border: 1px solid #eee;
  padding: 15px;
  width: 100%;
}

.profile-card-4 .profile-overview .btn:nth-child(1) {
  font-size: 0.8rem;
  border: 1px solid #eee;
  width: 100%;
  border-left: 0;
  border-bottom: 0;
}

.profile-card-4 .profile-content::after {
  content: '';
  position: absolute;
  width: 33%;
  height: 25px;
  top: -10px;
  left: 68%;
  right: 0;
  background-color: #fff;
  z-index: 0;
  transform: skewY(-15deg);
}
.profile-card-4 .profile-content::before {
  content: '';
  position: absolute;
  width: 33%;
  height: 25px;
  top: -10px;
  left: 0;
  right: 10px;
  background-color: #fff;
  z-index: 0;
  transform: skewY(15deg);
}
