**/node_modules/**
**/build/**

/coverage/**
/docs/**
/jsdoc/**
/templates/**
/tests/bench/**
/tests/fixtures/**
/tests/performance/**
/tmp/**

!.eslintrc.js

**/node_modules/**
**/dist/**
**/.cache/**
**/build/**
**/bundle/**
.jscpd

# Disable these few vendor/3rd party files
**/lib/optimal-select
**/lib/predict-common.js
